.footer {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  background-color: #575e21;
  position: relative;
}

/* NEW */
.tickerTapeContainer {
  overflow-x: hidden;
  display: flex;
  width: 100%;
  max-width: 1500px;
  background-color: #575e21;
}

.tickerTape {
  color: white;
  display: flex;
  align-items: center;
  padding-right: 40px;
  flex: 0 0 auto;
  gap: 45px;
  animation-name: marquee;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
