.footer {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  background-color: #575e21;
  position: relative;
}
.footer > div {
  animation: advertising infinite linear 20s;
}

@media screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px */
  .footer > div {
    animation: advertising infinite linear 20s;
  }
}
@keyframes advertising {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* NEW */
.tickerTapeContainer {
  overflow-x: hidden;
  display: flex;
  width: 100%;
  /* gap: 30px; */
  background-color: #575e21;
}

.tickerTape {
  color: white;
  display: flex;
  align-items: center;
  padding-right: 40px;
  min-width: 100%;
  flex: 0 0 auto;
  gap: 45px;
  animation-name: marquee;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
